<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs") %>

    <body>
        <%-include("./partials/nav.ejs") %>
            <div class="notes content">
                <h1>Notes</h1>
                <div class="notes-section">
                    <% if (notes.length> 0) { %>
                        <% notes.forEach(note=> { %>
                            <div class="note-card">
                                <a class="single" href="/notes/<%= note._id %>">
                                    <h3 class="title">
                                        <%= note.title %>
                                    </h3>
                                    <hr>
                                    <p class="body">
                                        <%= note.body %>
                                    </p>
                                </a>
                            </div>


                            <% }) %>
                                <% } else { %>
                                    <p>There are no notes to display...</p>
                                    <% } %>
                </div>

            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>